<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Dicas de um Dev</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/Call_Center.jpg" alt="Imagem Home">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema de Hekp Desk desenvolvido pelo curso de Desenvolvedor Full Stack. <br /> É um sistema que funciona na nuvem.<br /> Estudante: Marcelo
        </p>
    </mat-card-content>
</mat-card>