.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(139, 175, 190, 1) 0%, rgba(121, 180, 199, 1) 8%, rgba(0, 212, 255, 0.9948354341736695) 84%);
}

img {
    width: 80%;
    height: 7rem;
    margin: 1rem auto 1rem 1rem;
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(139, 175, 190, 1) 0%, rgba(121, 180, 199, 1) 8%, rgba(0, 212, 255, 0.9948354341736695) 84%);
}